@charset "utf-8";
/* CSS Document */

.table {
	text-align:center;
	background-color:#E6FFFF;
	border:solid 1px;
	border-color:#6FF;
}




a {
	text-decoration:none;
	color:#00F;
	font-size:12px;
}
a:hover {
	text-decoration:underline;
	color:#F00;
}
a.visited {
	color:#CCC;
}
